rabbit/

.env

# Arquivos de cache do Python
__pycache__/
*.py[cod]

# Banco de dados local
db.sqlite3

# Ambientes Virtuais
venv/
env/
.venv/

# Variáveis de ambiente e Segredos
.env

# Mídia do usuário (uploads)
media/

# Arquivos de sistema (Windows/Mac)
Thumbs.db
.DS_Store


#pip freeze > requirements.txt
#Isso gera um arquivo listando tudo o que é necessário. Quando você subir
#esse arquivo para o GitHub, qualquer pessoa (ou você) poderá baixar o código
#e instalar tudo de uma vez com um único comando: pip install -r requirements.txt.