{% extends 'base.html' %}

{% block titulo %}Editar Perfil{% endblock %}
{% block body_id %}editar_perfil{% endblock %}

{% block conteudo %}

<div class="container">
    <a href="{% url 'meu_perfil' %}" class="btn btn-cancel">⬅ Voltar para o perfil</a>

    <h2>📸 Editar Foto de Perfil</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-save">Salvar Foto</button>
    </form>
</div>

{% endblock %}