
Editar historia · HTML
{% extends 'base.html' %}
 
{% block titulo %}Editar História{% endblock %}
{% block body_id %}body_editar_membro{% endblock %}
 
{% block conteudo %}
 
    <h1>Editar História: {{ form.instance.titulo }}</h1>
 
    <form method="POST">
        {% csrf_token %}
 
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <div class="error">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}
 
        <br>
 
        <!-- BOTÃO ATUALIZAR -->
        <button type="submit" class="btn btn-update"> Atualizar</button>
 
        <!-- BOTÃO CANCELAR -->
        <a href="{% url 'lista_historias' %}" class="btn btn-cancel">Cancelar</a>
    </form>
 
{% endblock %}