{% extends 'base.html' %}

{% block titulo %}Login{% endblock %}
{% block body_id %}login{% endblock %}

{% block conteudo %}

    <div class='container'>
        <h2>Entrar na Conta 🔐</h2>
        <br>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-primary">Entrar</button>
        </form>

        <div class="links">
            <p>Não tem conta? <a href="{% url 'registro' %}"> Cadastre-se Aqui! </a>.</p>
            <p><a href="{% url 'password_reset' %}">Esqueceu sua senha?</a></p>
            <a href="{% url 'lista_historias' %}">Voltar para a página inicial </a>
        </div>
    </div>

{% block mascote %}{% include 'mascote.html' %}{% endblock %}

{% endblock %}