{% load static %}
<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Erros</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body id="meu_primeiro_html">
    <h1>Lista de Erros</h1>

    {% if messages %}
    <div style="margin: 20px 0;">
        {% for message in messages %}
            <div class="alerta sucesso">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<a href="{% url 'criar_historia' %}" class="btn btn-add">➕ Confessar Novo Erro</a>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Título</th>
                <th>História</th>
                <th>Vergonha</th>
                <th>Graça</th>
                <th>Autor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for historia in historias %}
            <tr>
                <td><strong>{{ historia.titulo }}</strong></td>
                <td>{{ historia.descricao }}</td>
                <td>😳 {{ historia.nivel_vergonha }}/5</td>
                <td>😂 {{ historia.nivel_graca }}/5</td>
                <td>{{ historia.autor|default:"Anônimo" }}</td>
               
                <td>
                    <a href="{% url 'editar_historia' historia.id %}" class="btn btn-edit">Editar</a>
                    <a href="{% url 'deletar_historia' historia.id %}" class="btn btn-delete">Excluir</a>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="6" style="text-align: center;">Nenhuma história de erro cadastrada ainda. Seja o primeiro a confessar!</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>